.header{
	background-color:orange;

	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.regi{
	background-color:lightgreen;
	margin-left:500px;
	margin-right:500px;
		padding-top:100px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:100px;
}
body{
	background-color:lightblue;
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.lesson{
	float:left;
	margin-top:50px;
	margin-left:100px;
	margin-right:50px;
}
.exercise{
	float:left;
		margin-top:50px;
	margin-left:50px;
	margin-right:50px;
}
.syllabus{
	float:left;
		margin-top:50px;
	margin-left:50px;
	margin-right:50px;
}
.student{
	float:left;
		margin-top:50px;
	margin-left:50px;
	margin-right:50px;
}